<!--差值表达式和属性绑定是一个东西、通常使用差值表达式差值表达式属于dom属性绑定
	
html属性初始化dom属性任务完成、html属性不改变、dom属性可以改变

dom 属性绑定模板： []=""

HTML 属性绑定模板：[attr.colspan]= " "

CSS类绑定 模板：
(1) 完全替换 <div class="a b" [class]="someException"></div>
(2)	追加样式 <div [class.special]="isSpecial"></div>
(3)	控制多个CSS类是否显示 <div [ngClass]="{aaa:isA,bbb:isB}"></div>

样式绑定 模板：
(1)单个样式 <button [style.color]="isSpecial? 'red': 'green' "></button>
(2)多种样式 <button [ngStyle]="{'font-style':this.CanSave ? 'italic' : 'normal'}"></button>

-->
<!--属性绑定-->
<img [src]="imgUrl" alt="">
<!--差值表达式-->
<img src="{{imgUrl}}" alt="">
<!--dom属性和HTML属性-->
<input type="text" value="Tom" (input)="doOnInput($event)">
<!--disabled html 属性  此时默认的 disabled dom 属性就会初始化为true
	添加或删除 disabled  html属性 会禁用或者启用按钮-- html属性的值是无关紧要的
-->
<button [disabled]="asd">点我</button>
<button (click)="changeasd()">点我</button>





<table>
	<tr>
		<!--cospan 无dom属性  差值表达式属于dom属性绑定 所以会报错-->
		<!-- <td colspan="{{1+1}}"></td>慕课网</td> -->

		<td [attr.colspan]="size">慕课网</td>
		<td>点击</td>
	</tr>
</table>

<div class="a b c">
	慕课网
</div>
<!--全体换 全有或者全无替换-->
<div [class]="divClass">
	样式全体换
</div>
<!--增加样式-->
<div class="a b" [class.c]="isBig">
	增加样式
</div>
<!--样式切换-->
<div [ngClass]="changeClass">
	样式选择
</div>

<!--内联样式绑定-->
<div [style.color]="isDev? 'pink' : 'blue'">
	内联样式绑定
</div>
<div [style.font-size.em]="isDev? 3 : 1">
	内联样式绑定
</div>
<div [ngStyle]="isStyle">多个内敛样式</div>